.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.landing-page-heading {
  font-family: "Fredoka", sans-serif;
  margin-bottom: 30px;
}

.landing-page-heading span {
  margin: 0px 2px;
}

.player-selection-container {
  height: 100%;
  width: 100%;
  background-color: #43115b;
  border-radius: 3px;
  padding: 15px 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.player-selection-container h2 {
  font-family: "Fredoka", sans-serif;
  font-size: 12px;
  color: #bcdbf9;
  text-transform: uppercase;
}

.player-selection-container p {
  font-family: "Fredoka", sans-serif;
  font-size: 10px;
  color: #bcdaf96a;
  text-transform: uppercase;
  font-weight: bold;
}

.selection-container {
  margin-top: 15px;
  margin-bottom: 8px;
  width: 100%;
  background-color: #2b0040;
  border-radius: 5px;
  padding: 7px;
}

.selection-container button {
  border: none;
  border-radius: 5px;
  flex: 1;
}

.selected-player {
  background-color: #bcdbf9;
  color: black;
}

.transparent {
  background-color: transparent;
}

.game-type button {
  height: 30px;
  width: 250px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: black;
  font-family: "Fredoka", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
