dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 270px;
    border: none;
    padding: 23px;
    box-sizing: border-box;
    border-radius: 5px;
}
dialog h2 {
    margin-bottom: 18px;
    color: black;
    font-size: 20px;
}

dialog div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

dialog div button {
    height: 28px;
    flex: 1;
    margin: 2.5px;
    font-family: 'Fredoka';
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
}

dialog div button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}
