main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a1e76;
}

button {
  cursor: pointer;
}

.container {
  height: auto;
  padding: 30px 50px;
  border-radius: 10px;
  background-color: #2b0040;
}

ul li {
  list-style-type: none;
}

.btn-player-symbol {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
  background-color: #43115b;
  box-sizing: border-box;
}

.game-history {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.game-history li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 50px;
  padding: 6px 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.game-history li h2 {
  text-transform: uppercase;
  font-family: "Arial";
  font-size: 7px;
  font-weight: bold;
}

.game-history li p {
  font-family: "Arial";
  font-size: 15px;
  font-weight: bold;
}

.player-x-color {
  background-color: #48d2fe;
}

.draw-color {
  background-color: #bcdbf9;
}

.player-o-color {
  background-color: #e2be00;
}

.board-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}

.board-rows {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
}

.player-turn-container {
  margin: 30px 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.player-turn-container {
  font-family: "Arial";
  font-size: 12px;
  font-weight: bold;
}
